@using ConFriend.Interfaces
@using ConFriend.Models
@using ConFriend.Services
@inject SessionService SessionService
@inject ICrudService<User> UserService
@inject ICrudService<Conference> ConferenceService;
@{
    UserService.Init(ModelTypes.User);
    ConferenceService.Init(ModelTypes.Conference);
    int? currentUserId = SessionService.GetUserId(Context.Session);
    int? currentConferenceId = SessionService.GetConferenceId(Context.Session);
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConFriend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="HeadField">
        <div class="w-100 d-flex justify-content-center">
            <div id="headcontent" class="w-50">
                <div class="text-center border">

                    @if (currentConferenceId != null)
                    {
                        <a asp-page="/Index">
                            <h1 class="display-4">@ConferenceService.GetFromId((int)currentConferenceId).Result.Name</h1>
                        </a>
                    }
                </div>
                <nav id="NaviBar">
                    <ul>
                        <li class="dropdown">
                            <button class="dropbtn">Events</button>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/ConferencePages/ConferenceIndex">Conferences</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Events/EventIndex">Event-liste</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Theme/ThemeList">Themes</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/EventThemeTest/Index">Events-Themes</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <button class="dropbtn">Lokaler</button>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/VenuePages/VenueIndex">Venues</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/FloorTest/Index">Floors</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/FeatureTest/Index">Features</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/RoomTest/Index">Rooms</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/RoomSeatCategory/RoomSeatCateList">Rooms-SeatCategories</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/SeatCategory/Index">SeatCategories</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/SetCatTakenTest/Index">SeatCategoriesTaken</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/RoomFeatureTest/Index">Rooms-Features</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <button class="dropbtn">Udstillere</button>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/UserPages/UserIndex">Users</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Speaker/Speakerlist">Speakers</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Enrollment/Enrollment">Enrollments</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/ConManager/Index">Admin funktioner</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <button class="dropbtn">Kontakt</button>
                        </li>
                        <li class="dropdown">
                            <button class="dropbtn">Om os</button>
                        </li>
                        @if (currentUserId == null)
                        {
                            <li class="login">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login/Login">
                                    Login
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#AAA" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    </svg>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="login">
                                <a class="nav-link text-dark " asp-area="" asp-page="/UserPages/UserDetails">

                                    @UserService.GetFromId((int)currentUserId).Result.ShortName

                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#AAA" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    </svg>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
        <div id="HeadFiller" class="w-100"></div>

        <div id="wrapper" class="d-flex justify-content-center">
            <div class="w-75">
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - ConFriend - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", false)
    </div>
</body>
</html>