@page
@model ConFriend.Pages.Admin.FloorTest.EditFloorModel
@{
}
<h4>Edit Floor</h4>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.NewFloor.FloorId" class="control-label">FloorId</label>
        <input asp-for="@Model.NewFloor.FloorId" readonly="readonly" class="form-control" />
        <span asp-validation-for="@Model.NewFloor.FloorId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewFloor.VenueId" class="control-label">VenueId</label>
        <input asp-for="@Model.NewFloor.VenueId" class="form-control" />
        <span asp-validation-for="@Model.NewFloor.VenueId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewFloor.Name" class="control-label">Name</label>
        <input asp-for="@Model.NewFloor.Name" class="form-control" />
        <span asp-validation-for="@Model.NewFloor.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewFloor.Image" class="control-label">Image</label>
        <input asp-for="@Model.NewFloor.Image" class="form-control" />
        <span asp-validation-for="@Model.NewFloor.Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="button btn btn-dark" />
    </div>
</form>
@if (Model.done)
{
    <h4 style="color:green">The Hotel has been updated</h4>
    <a class="button btn btn-dark" asp-page="Index">Return to all Floors</a>
}