@page "{htrn?}"
@model ConFriend.Pages.speakerlistModel
@{
    ViewData["Title"] = "Speakers List";
}
<div>
    <a asp-page="/Admin/Speaker/speakerCreate">Add New Speaker</a>
</div>
<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>


<h4 style="color:aquamarine"> List of Speakers</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Hotel No
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Speakers.Count() != 0)
        {
            
            @foreach (var item in Model.Speakers)
            {
        <tr>
            <td>
                @item.FirstName

            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Title
            </td>
            <td>
                <p>
                    <a asp-page="/Admin/Speaker/speakerCreate" asp-route-id="@item.SpeakerId">Edit Hotel</a>
                </p>
            </td>
            <td>
                <form method="post">
                    <button type="submit" asp-page-handler="Delete" name="htnr" value="@item.SpeakerId" class="btn btn btn-warning">Delete</button>
                </form>
            </td>
        </tr>
            }
        }
</table>