@page
@model ConFriend.Pages.EnrollmentModel
@{
}
<div>
    <form method="post">

        <div class="form-group">
            <label asp-for="@Model.enrollment.userId" class="control-label"></label>
            <input asp-for="@Model.enrollment.userId" class="form-control" />
            <span asp-validation-for="enrollment.userId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.enrollment.eventId" class="control-label"></label>
            <input asp-for="@Model.enrollment.eventId" class="form-control" />
            <span asp-validation-for="enrollment.eventId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" asp-page-handler="SaveNew" class="btn btn btn-primary">Save</button>
        </div>
    </form>
</div>

<h4 style="color:aquamarine"> Themes</h4>
<h1>Create Location</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Hotel No
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Enrollments)
        {
        <tr>
            <td>
                <p>@item.EnrollmentId</p>
            </td>
            <td>
                <p>@item.SignUpTime</p>
            </td>
            <td>
                <form method="post">

                    <div class="form-group">
                        <label asp-for="@Model.enrollment.userId" class="control-label"></label>
                        <input asp-for="@Model.enrollment.userId"  class="form-control" />
                        <span asp-validation-for="enrollment.userId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.enrollment.eventId" class="control-label"></label>
                        <input asp-for="@Model.enrollment.eventId" class="form-control" />
                        <span asp-validation-for="enrollment.eventId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" asp-page-handler="Save" name="id" value="@item.EnrollmentId" class="btn btn btn-primary">Save</button>
                        <button type="submit" asp-page-handler="Delete" name="id" value="@item.EnrollmentId" class="btn btn btn-warning">Delete</button>
                    </div>
                </form>
            </td>
        </tr>

        }
</table>