@page

@model ConFriend.Pages.EnrollmentModel
@{
    ViewData["Title"] = "List of enrollments";
}
<p>
    <a class="button btn btn-success" asp-page="/Admin/Enrollment/CreatEnrollment">Create New Enrollment</a>
</p>


<h4 style="color:aquamarine"> Themes</h4>
<h1>List of enrollments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Enrollments)
        {
        <tr>
            <td>
                <p>@item.EnrollmentId</p>
            </td>
            <td>
                <p>@item.SignUpTime</p>
            </td>
            <td>
                <p>@item.userId</p>
            </td>
            <td>
                <p>@item.eventId</p>
            </td>
            <td>
                <form method="post">
                    <div class="form-group">
                        <button type="submit" asp-page-handler="Edit" name="id" value="@item.EnrollmentId" class="btn btn btn-primary">edit</button>
                        <button type="submit" asp-page-handler="Delete" name="id" value="@item.EnrollmentId" class="btn btn btn-warning">Delete</button>
                    </div>
                </form>
            </td>
        </tr>

        }
</table>