@page
@model ConFriend.Pages.Admin.RoomFeatureTest.IndexModel
@{
}
<p>
    <a class="button btn btn-success" asp-page="/Admin/RoomFeatureTest/CreateRoomFeature">Create New RoomFeature</a>
</p>

<h4>List of RoomFeatures</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                RoomId
            </th>
            <th>
                FeatureId
            </th>
            <th>
                IsAvailable
            </th>
        </tr>
    </thead>
    <tbody>
    @if (Model.RoomFeatures.Count() != 0)
    {
        @foreach (var item in Model.RoomFeatures)
        {
        <tr>
            <td>
                @item.RoomId
            </td>
            <td>
                @item.FeatureId
            </td>
            <td>
                @item.IsAvailable
            </td>
            <td>
                <p>
                    <a class="button btn btn-primary" asp-page="/Admin/RoomFeatureTest/EditRoomFeature" asp-route-fId="@item.FeatureId" asp-route-rId="@item.RoomId">Edit RoomFeature</a>
                    <a class="button btn btn-primary" asp-page="/Admin/RoomFeatureTest/Image" asp-route-fId="@item.FeatureId" asp-route-rId="@item.RoomId">Edit Image</a>
                    <a class="button btn btn-danger" asp-page="/Admin/RoomFeatureTest/EditRoomFeature" asp-page-handler="Delete" asp-route-fId="@item.FeatureId" asp-route-rId="@item.RoomId">Delete</a>
                </p>
            </td>
        </tr>
        }
    }
</table>