@page
@model ConFriend.Pages.debug.SQL_testModel
@{
}

@foreach (var item in Model.UserList)
{
    <p>UserId: @item.UserId</p>
    <p>UserFirstName: @item.FirstName</p>
    <p>UserLastName: @item.LastName</p>
    <p>UserEmail: @item.Email</p>
    <p>UserPassword: @item.Password</p>
    <p>UserPreference: @item.Preference</p>
    <p>UserType: @item.Type</p>
}