@page
@model ConFriend.Pages.debug.SQL_testModel
@{
}

@foreach (var item in Model.UserList)
{
    <p>User: @item.UserId</p>
    <p>User: @item.FirstName</p>
    <p>User: @item.LastName</p>
    <p>User: @item.Email</p>
    <p>User: @item.Password</p>
    <p>User: @item.Preference</p>
    <p>User: @item.Type</p>
}