@page
@model ConFriend.Pages.Admin.RoomTest.CreateRoomModel
@{
    ViewData["Title"] = "Create room";
}

<script type="text/javascript">
    function ClearTextBox() {
        document.getElementById("filterCriteria").value = "";
    }
</script>

<h4>Create Room</h4>
<form method="post">
    @if (!Model.VenueSet)
    {
        <div class="form-group">
            <label class="control-label">Venue:</label>
            <select asp-for="@Model.NewRoom.VenueId" asp-items="@Model.SelectListVenues" onchange="this.form.submit();"></select>
            <span asp-validation-for="NewRoom.VenueId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Floor:</label>
            -
        </div>
    }
    else
    {
        <div class="form-group">
            <label class="control-label">Venue:</label>
            @Model.Venues.Find(venue => venue.VenueId.Equals(Model.NewRoom.VenueId))?.Name
        </div>
        <div class="form-group">
            <label class="control-label">Floor:</label>
            <select asp-for="@Model.NewRoom.FloorId" asp-items="@Model.SelectListFloors"></select>
            <span asp-validation-for="NewRoom.FloorId" class="text-danger"></span>
        </div>
    }
    <div class="form-group">
        <label asp-for="@Model.NewRoom.Name" class="control-label">Name</label>
        <input asp-for="@Model.NewRoom.Name" class="form-control" />
        <span asp-validation-for="@Model.NewRoom.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewRoom.Size" class="control-label">Size</label>
        <input asp-for="@Model.NewRoom.Size" class="form-control" />
        <span asp-validation-for="@Model.NewRoom.Size" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewRoom.Capacity" class="control-label">Capacity</label>
        <input asp-for="@Model.NewRoom.Capacity" class="form-control" />
        <span asp-validation-for="@Model.NewRoom.Capacity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewRoom.DoorAmount" class="control-label">DoorAmount</label>
        <input asp-for="@Model.NewRoom.DoorAmount" class="form-control" />
        <span asp-validation-for="@Model.NewRoom.DoorAmount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewRoom.Image" class="control-label">ImageURL</label>
        <input asp-for="@Model.NewRoom.Image" class="form-control" />
        <span asp-validation-for="@Model.NewRoom.Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewRoom.Coordinates" class="control-label">Coordinates</label>
        <input asp-for="@Model.NewRoom.Coordinates" class="form-control" />
        <span asp-validation-for="@Model.NewRoom.Coordinates" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="button btn btn-dark" />
    </div>
</form>
