@page
@model ConFriend.Pages.Admin.RoomTest.CreateRoomModel
@{
    ViewData["Title"] = "Create room";
    int venueId;
    int floorId;
}

@{
    venueId = Model.VenueId;
    floorId = Model.FloorId;
}

<h4>Create Room</h4>
<form method="post" asp-route-venueId="@venueId" asp-route-floorId="@floorId">
    @if (venueId == 0)
    {
        <div class="form-group">
            <label class="control-label">Venue:</label>
            <select asp-for="@venueId" asp-items="@Model.SelectListVenues" onchange="this.form.submit();"></select>
            <span asp-validation-for="NewRoom.VenueId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Floor:</label>
            -
        </div>
    }
    else
    {
        <div class="form-group">
            <label class="control-label">Venue:</label>
            @Model.Venues.Find(venue => venue.VenueId.Equals(Model.NewRoom.VenueId))?.Name
            <input type="submit" asp-page-handler="ClearVenueChoice" style="border-style: none; background-color: white;" value="&#128473;" />
        </div>
        <div class="form-group">
            <label class="control-label">Floor:</label>
            <select asp-for="@floorId" asp-items="@Model.SelectListFloors"></select>
            <span asp-validation-for="NewRoom.FloorId" class="text-danger"></span>
        </div>
    }
    <div class="form-group">
        <label asp-for="@Model.NewRoom.Name" class="control-label">Name</label>
        <input asp-for="@Model.NewRoom.Name" class="form-control" />
        <span asp-validation-for="@Model.NewRoom.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewRoom.Size" class="control-label">Size</label>
        <div style="display: inline-block"><input asp-for="@Model.NewRoom.Size" class="form-control" style="max-width: 100px" /> m²</div>
        <span asp-validation-for="@Model.NewRoom.Size" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewRoom.Capacity" class="control-label">Capacity</label>
        <input asp-for="@Model.NewRoom.Capacity" class="form-control" /> personer
        <span asp-validation-for="@Model.NewRoom.Capacity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewRoom.DoorAmount" class="control-label">DoorAmount</label>
        <input asp-for="@Model.NewRoom.DoorAmount" class="form-control" />
        <span asp-validation-for="@Model.NewRoom.DoorAmount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewRoom.Image" class="control-label">ImageURL</label>
        <input asp-for="@Model.NewRoom.Image" class="form-control" />
        <span asp-validation-for="@Model.NewRoom.Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewRoom.Coordinates" class="control-label">Coordinates</label>
        <input asp-for="@Model.NewRoom.Coordinates" class="form-control" />
        <span asp-validation-for="@Model.NewRoom.Coordinates" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="button btn btn-dark" />
    </div>
</form>
