@page
@model ConFriend.Pages.Admin.RoomTest.IndexModel
@{
}
<p>
    <a class="button btn btn-success" asp-page="/Admin/FloorTest/CreateFloor">Create New Floor</a>
</p>

<h4> List of Floors</h4>

<table class="table">
    <thead>
    <tr>
        <th>
            RoomId
        </th>
        <th>
            FloorId
        </th>
        <th>
            VenueId
        </th>
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Capacity
        </th>
        <th>
            DoorAmount
        </th>
        <th>
            Image
        </th>
        <th>
            Coordinates
        </th>

    </tr>
    </thead>
    <tbody>
        @if (Model.Rooms.Count() != 0)
        {
            @foreach (var item in Model.Rooms)
            {
        <tr>
            <td>
                @item.RoomId
            </td>
            <td>
                @item.FloorId
            </td>
            <td>
                @item.VenueId
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @item.Capacity
            </td>
            <td>
                @item.DoorAmount
            </td>
            <td>
                @item.Image
            </td>
            <td>
                @item.Coordinates
            </td>
            <td>
                <p>
                    <a class="button btn btn-primary" asp-page="/Admin/FloorTest/EditFloor" asp-route-rId="@item.RoomId">Edit Floor</a>
                    <a class="button btn btn-danger" asp-page="/Admin/FloorTest/DeleteFloor" asp-route-rId="@item.RoomId">Delete</a>
                </p>
            </td>
        </tr>
            }
        }
</table>